[defaults]
remote_user = ubuntu
host_key_checking = false
inventory = inventory.ini
log_path=/home/ubuntu/ansible_log

[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = false

[ssh_connection]
ssh_args = -o ForwardAgent=yes -o ControlMaster=auto -o ControlPersist=60s
